
#optionsMenu {
    position: fixed;
    background-color: rgb(30, 53, 78);
    /* color: #fff; */
	overflow-y:auto;
	overflow-x: hidden;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25vw;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    transform: translateX(-60%);
	z-index: 5!important;
  }
  
  #optionsMenu.is-active {
    transform: translateX(0%);
  }
  
  #optionsMenu.is-active li {
    animation: animate 350ms ease calc(var(--i) * 100ms) both;
  }
  
  .align-right {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.photo-wrapper {
	flex: 0 0 33.3333%; /* Each photo takes up 1/3rd of the row */
	max-width: 33.3333%;
	padding: 5px;
}
.photo {
	width: 100%; /* Ensure the image takes up the full width of its container */
	height: auto; /* Maintain aspect ratio */
}
.container {
	overflow: hidden!important; /* Prevent overflow */
}

#configurationMenu {
    position: fixed;
    background-color: rgb(45, 73, 105);
    /* color: #fff; */
	overflow:visible;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20vw;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    transform: translateX(-60%);
	z-index: 10;
  }
  
  #configurationMenu.is-active {
    transform: translateX(0%);
  }
  
  #configurationMenu.is-active li {
    animation: animate 350ms ease calc(var(--i) * 100ms) both;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
      transform: translateX(-2em);
    }
    100% {
      opacity: 1;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .confButtonS {
    position: relative;
    top: 0;
    /* left: -2vw; */
    width: 30%;
    height: 3vh;
    margin: 2vh;
    display: block;
    justify-content:end;
    align-items: end;
  }
  .confButtonS a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    padding: 3vh;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    font-weight: 400px;
    z-index: 1;
    transition: 0.2s;
    backdrop-filter: blur(15px);
  }
  .confButtonS:hover a {
   /* letter-spacing: 3px;*/
   color:rgb(79, 161, 255)
  }
  
  .confButton {
    position: relative;
    top: 0;
    left: -2vw;
    width: 100%;
    height: 3vh;
    margin: 2vh;
    /* display: flex; */
    justify-content: end;
    align-items: center;
  }
  .confButton a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    padding: 3vh;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    color: white;
    font-weight: 400px;
    z-index: 1;
    transition: 0.2s;
    backdrop-filter: blur(15px);
  }
  .confButton:hover a {
   /* letter-spacing: 3px;*/
   color:rgb(79, 161, 255)
  }
  .confButton a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    transition: 0.5s;
    filter: blur(0px);
  }
  .confButton:hover a::before {
    transform: skewX(45deg) translate(200px);
  }
  h4 {
		color: #999;
		font-weight: 500;
		&:after {
			content: "%";
			padding-left: 1px;
		}
	}

	input[type="range"] {
		outline: 0;
		border: 0;
		/*border-radius: 500px;*/
		width: 95%;
		max-width: 100%;
		margin: 16px;
		transition: box-shadow 0.2s ease-in-out;
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			& {
				overflow: hidden;
				height: 40px;
				-webkit-appearance: none;
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(15px);
			}
			&::-webkit-slider-runnable-track {
				height: 40px;
				-webkit-appearance: none;
				color: #444;
				transition: box-shadow 0.2s ease-in-out;
			}
			&::-webkit-slider-thumb {
				width: 40px;
				-webkit-appearance: none;
				height: 40px;
				cursor: ew-resize;
				background: #fff;
				box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
				border-radius: 50%;
				transition: box-shadow 0.2s ease-in-out;
				position: relative;
			}
			&:active::-webkit-slider-thumb {
				background: #fff;
				box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
			}
		}
		&::-moz-range-progress {
			background-color: #43e5f7; 
		}
		&::-moz-range-track {  
			background-color: #9a905d;
		}
		&::-ms-fill-lower {
			background-color: #43e5f7; 
		}
		&::-ms-fill-upper {  
			background-color: #9a905d;
		}
	}

#h4-container {
	width: 400px;
	max-width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
	#h4-subcontainer {
		width: 100%;
		position: relative;
		h4 {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			width: 40px;
			height: 40px;
			color: #fff !important;
			font-size: 12px;
			transform-origin: center -10px;
			transform: translateX(-50%);
			transition: margin-top 0.15s ease-in-out,
				opacity 0.15s ease-in-out;
			span {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #1597ff;
				border-radius: 0 50% 50% 50%;
				transform: rotate(45deg);
				z-index: -1;
			}
		}
	}
}
input:not(:active) + #h4-container h4 {
	opacity: 0;
	margin-top: -50px;
	pointer-events: none;
}

#editMenu, #materialMenu {
	display: none;
	/* //transition: margin-top 0.15s ease-in-out, opacity 0.15s ease-in-out; */
	align-items: center;
	justify-content: center;
	margin: 2vh;
}

#editMenu .confButton, #materialMenu .confButton {
	margin: 2vh;
}

#openMenu {
  width: 40vh;
  height:40vh;
  border-radius: 50%;
  border:1px solid #4679BD; 
  overflow:hidden;
  /* position: absolute; */
  position: absolute;
  display: block;
  top: -20vh;
  left: 0vh;
  background: #4679BD; 
  /* //box-shadow: 0 0 3px gray; */
  transition: 0.4s;
  }
  #openMenu:hover {
  background:#4679BD;
  border:15px solid #cfdcec;
  }
  #openMenu button {
  display:block;
  float:left;
  line-height:1em;
      
  text-align:center;
  color:#e2eaf3;
  font-family:Verdana;
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



input[type="file"]::file-selector-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}